<br>
<div class="container">
    <h2>Cambio Datos Personales</h2>
	<br>
    <form class="columnas">
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input class="form-control" [(ngModel)]="usuario.nombre" #email=ngModel name="nombre" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="Apellidos">Apellidos</label>
            <input class="form-control" [(ngModel)]="usuario.apellidos" #telefono=ngModel name="apellidos" id="apellidos" placeholder="Apellidos">
        </div>
        <div class="form-group ">
            <label for="Sexo ">Sexo</label>
            <select class="form-control" position="fixed" required [(ngModel)]="usuario.sexo" #sexo="ngModel" name="sexo">
            <option>Hombre</option> 
            <option>Mujer</option> 
            </select>
        </div>
        <div class="form-group ">
            <label for="Tipo">Tipo</label>
            <select class="form-control" position="fixed" required [(ngModel)]="usuario.tipo" #tipo="ngModel" name="tipo">
            <option>MEDICO</option>
            <option>PACIENTE</option>
            <option>GESTOR</option>
            </select>
        </div>
        <br>
        
        <button type="button" (click)="modificardatospersonales()" style="margin-left: 20%" class="btn btn-primary" id="cambiardatospersonales-button">Cambiar Datos Personales</button>
    </form>
</div>