<br>
<div class="container">
    <h2>Asignar Médico a Paciente</h2>
	<br>
    <form class="columnas">
        <div class="form-group">
            <label for="dniPaciente">DNI Paciente</label>
            <input class="form-control"  #dniP name="dniP" id="dniP" placeholder=" Introduzca DNI Paciente">
            <br>
        </div>
        <div class="form-group">
            <label for="dniMedico">DNI Medico</label>
            <input class="form-control"  #dniM name="dniM" id="dniM" placeholder="Introduzca DNI Medico">
        </div>
        <br>
        <br>
        <button type="button" style="margin-left: 35%" class="btn btn-primary" id="asignarPM">Asignar</button>
    </form>
</div>