<br><br>
<div class="container">

    <h2>Asignación de Horario del Médico</h2>
	<br>
    <form class="columnas col col-md-12">
        <div class="form-group" id="especialistas">
            <input class="form-control"  #dniM name="dniM" id="dniM" placeholder=" Introduzca DNI del Médico">
            <br>
        </div>
        <div class="form-group">
            <label>Introduzca  la Hora de Inicio</label>
            <input class="form-control" type="time" #horaI name="horaI" id="horaI" min="00:00" max="23:00" step="900">
            <br>
        </div>
        <div class="form-group">
            <label>Introduzca  la Hora de Fin</label>
            <input class="form-control" type="time" #horaF name="horaF" id="horaF" min="00:00" max="23:00" step="900">
        </div>
        	<br>
            <button type="button" (click)="asignarHorario(dniM.value)" style="margin-left: 30%" class="btn btn-primary" id="asignarHorario">Asignar</button>
    </form>

</div> 