<nav class="navbar navbar-expand-xg navbar-light bg-light automovimiento">
    <a class="navbar-brand" href="#">Citas Médicas App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     	
        <form class="form-inline my-2 my-lg-0" style="margin-left: 40%">
            <button  class="btn btn-light my-2 my-sm-0" onclick="location.href=''" type="submit">Médico</button>
       		 <button style="margin-left: 10px" *ngIf="!loginPasado" (click)="cerrarsesion()" class="btn btn-light my-2 my-sm-0" type="submit">LogOut</button>
        </form>
    </div>
</nav>
<hr>
<br><br>